.order
{
    text-align: center;
    /* padding-top: 100px; */
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

}
.last
{
    height: 40px;
    width: 400px;
    background-color: black;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}